# Gradle
.gradle
build

# Finder
.DS_Store

# IntelliJ.
*.iml
.idea
out

# Eclipse.
.project
.classpath
.settings
.cache
bin

target

#iPython
.ipynb_checkpoints

# Local/non-default configuration
application.conf

# People may unpack the Javadoc somewhere in here.
javadoc-commons-lang-divolte/
